# All compiled .pyc files
*.pyc

# File created by Mac OS X
.DS_Store

# Swap files
*.swp

# Python setup.py output and PyCharm stuff
build/
dist/
.idea/
.cache/
.eggs/
juriscraper.egg-info/

# Private PACER stuff and test fixtures
juriscraper/pacer/private_settings.py
tests/fixtures/cassettes/

.tox

# ignore sample_caller report
report.html
