[tool.black]
line-length = 79
include = '''
(
    juriscraper         # Just include a few directories for now
)*\.pyi?$
'''
exclude = '''
(
      \.eggs
    | .*\.egg-info
    | \.mypy_cache
    | __pycache__
    | \.venv
)
'''


[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 79

[tool.pylint.messages_control]
disable = "C0330, C0326"

[tool.pylint.format]
max-line-length = "79"
