argparse
charset-normalizer>=3.1.0
certifi>=2017.4.17
chardet>=3.0.2,<5.2.0
cssselect
dateparser==1.1.8
feedparser==6.0.10
geonamescache==1.6.0
html5lib
lxml~=4.9
python-dateutil==2.8.2
requests>=2.20.0
selenium>=4.9.1
tldextract
